.benefit {
  padding: 30px 0;
  min-height: 250px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
  border-image: fill 0 linear-gradient(225deg, rgba(0, 0, 0, 0.2) 0%, #000000 100%);

  @include media-min ($md) {
    padding: 50px;
    min-height: 300px;
  }

  &__title {
    margin: 0;
    font-size: 25px;
    color: var(--white);
    text-transform: uppercase;
    margin-bottom: 20px;

    @include media-min ($md) {
      font-size: 40px;
    }

    @include media-min ($xl) {
      font-size: 30px;
    }
  }

  &__descr {
    font-size: 16px;
    line-height: 150%;
    color: var(--white);
    max-width: 300px;
  }
}
