.condition {
  position: relative;
  grid-column: 12 span;
  padding: 10px;
  min-height: 170px;
  background: linear-gradient(135deg, #fff 0%, rgba(255, 255, 255, 0) 100%);

  @include media-min ($md) {
    grid-column: 4 span;
    min-height: 228px;
  }

  @include media-min ($xl) {
    grid-column: 3 span;
    min-height: 275px;
  }

  &::after {
    content: '';
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 102px;
    height: 101px;
  }

  &--first {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='102' height='101' viewBox='0 0 102 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M66.1855 69.6809H84.3584H100.523V85.0809V99.7959H84.3534H30.2534H0.523438V75.6459V29.8059H100.523V49.8009M78.0334 59.6759L66.1801 69.6759L78.0334 79.7059M0.553438 29.7509L13.1968 6.8009L32.9234 6.7959H68.0234L87.7216 6.8L100.523 29.7709M50.3384 29.8009V6.8009M40.3384 49.8009H60.3384' stroke='%23B3B3B3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    }

    @include media-min ($md) {
      order: -1;
    }

    @include media-min ($xl) {
      grid-column-start: 4;
      grid-column-end: 7;
    }
  }

  &--second {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='102' height='101' viewBox='0 0 102 101' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M70.6371 100.045H100.523V88.3774C100.523 79.5124 84.5734 75.0449 75.2559 75.0449C72.3584 75.0449 70.44 75.4358 68.0234 76.0988M33.0234 65.0449C42.6909 65.0449 50.5234 57.2124 50.5234 47.5449C50.5234 37.8774 42.6909 30.0449 33.0234 30.0449C23.3559 30.0449 15.5234 37.8774 15.5234 47.5449C15.5234 57.2124 23.3559 65.0449 33.0234 65.0449ZM88.0234 56.2949C88.0234 63.8924 81.8709 70.0449 74.2734 70.0449C70.6267 70.0449 67.1293 68.5963 64.5507 66.0176C61.9721 63.439 60.5234 59.9416 60.5234 56.2949C60.5234 48.6974 66.6759 42.5449 74.2734 42.5449C81.8709 42.5449 88.0234 48.6974 88.0234 56.2949ZM33.0234 70.0449C39.8584 70.0449 50.9809 72.1724 58.2759 76.4074C61.2559 79.4399 63.0234 82.7474 63.0234 86.0449V100.045H0.523438V86.0449C0.523438 75.4049 22.1759 70.0449 33.0234 70.0449Z' stroke='%23B3B3B3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    }
  }

  &--third {

    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='102' height='102' viewBox='0 0 102 102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M88.0234 88.043C88.0234 91.3582 86.7065 94.5376 84.3623 96.8818C82.0181 99.226 78.8386 100.543 75.5234 100.543C72.2082 100.543 69.0288 99.226 66.6846 96.8818C64.3404 94.5376 63.0234 91.3582 63.0234 88.043M88.0234 88.043C88.0234 84.7278 86.7065 81.5483 84.3623 79.2041C82.0181 76.8599 78.8386 75.543 75.5234 75.543C72.2082 75.543 69.0288 76.8599 66.6846 79.2041C64.3404 81.5483 63.0234 84.7278 63.0234 88.043M88.0234 88.043H100.523L100.463 81.473C100.523 81.008 100.523 80.458 100.523 79.358V65.543M63.0234 88.043H38.0234M38.0234 88.043C38.0234 91.3582 36.7065 94.5376 34.3623 96.8818C32.0181 99.226 28.8386 100.543 25.5234 100.543C22.2082 100.543 19.0288 99.226 16.6846 96.8818C14.3404 94.5376 13.0234 91.3582 13.0234 88.043M38.0234 88.043C38.0234 84.7278 36.7065 81.5483 34.3623 79.2041C32.0181 76.8599 28.8386 75.543 25.5234 75.543C22.2082 75.543 19.0288 76.8599 16.6846 79.2041C14.3404 81.5483 13.0234 84.7278 13.0234 88.043M13.0234 88.043H0.523438V64.293M0.523438 20.543H65.5234V33.043M65.5234 35.543V70.7829M65.5234 35.543V33.043M65.5234 35.543C65.5234 34.6554 65.5278 33.8235 65.5234 33.043M0.523438 35.543H30.5234M0.523438 50.543H20.5234M65.5234 33.043H81.3954L100.463 65.543' stroke='%23B3B3B3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    }

    @include media-min ($xl) {
      grid-column-start: 7;
      grid-column-end: 10;
    }
  }

  &--last {
    &::after {
      background-image: url("data:image/svg+xml,%3Csvg width='102' height='102' viewBox='0 0 102 102' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M89.2726 46.9081H100.523V58.8935M100.523 89.2046V100.456H89.2726M63.6899 46.9081H83.0045C84.0073 51.1682 86.1779 55.0643 89.2726 58.159C92.3672 61.2536 96.2634 63.4242 100.523 64.427V82.9366C96.2634 83.9394 92.3672 86.11 89.2726 89.2046C86.1779 92.2993 84.0073 96.1954 83.0045 100.456H40.9717M46.0566 88.4701C48.0225 89.3042 50.1539 89.746 52.3308 89.746C55.508 89.746 58.6138 88.8039 61.2556 87.0387C63.8973 85.2736 65.9563 82.7647 67.1722 79.8293C68.3881 76.894 68.7062 73.664 68.0863 70.5478C67.4665 67.4317 65.9365 64.5693 63.6899 62.3227C62.2236 60.8564 60.4951 59.6954 58.6049 58.8935M66.8173 23.6719L34.4678 100.543M11.7743 77.2195H0.523438V65.9686M0.523438 34.9229V23.6721H11.7743M37.357 77.2195H18.0424C17.0396 72.9594 14.869 69.0632 11.7743 65.9686C8.67965 62.8739 4.78351 60.7033 0.523438 59.7005V41.191C4.78351 40.1882 8.67965 38.0176 11.7743 34.9229C14.869 31.8283 17.0396 27.9321 18.0424 23.6721H60.0752M54.9902 35.6575C53.0244 34.8234 50.893 34.3815 48.7161 34.3815C45.5389 34.3815 42.433 35.3237 39.7913 37.0889C37.1495 38.854 35.0906 41.3629 33.8747 44.2983C32.6588 47.2336 32.3407 50.4636 32.9605 53.5797C33.5804 56.6959 35.1104 59.5583 37.357 61.8049C38.8232 63.2711 40.5518 64.4321 42.4419 65.2341' stroke='%23B3B3B3' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    }
  }

  &__title {
    font-size: 18px;
    text-transform: uppercase;
    color: var(--blue-100);
    margin: 0;

    @include media-min ($md) {
      padding-bottom: 100px;
      font-size: 20px;
    }
  }
}
