.reviews {
  background: var(--black-10);
  padding: 75px 0 250px;

  @include media-min ($md) {
    padding: 150px 0 350px;
  }

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    display: flex;
  }
}


.reviews-slider {
  &__controls-btn {
    position: absolute;
    z-index: 2;
    bottom: 40px;
    right: 0;

    & > * {
      background-color: var(--black-10);
    }

    @include media-min ($md) {
      right: auto;
      bottom: auto;
      left: 0;
      top: 15px;
    }
  }
}
