.stage {
  position: sticky;
  top: 180px;
  display: flex;
  padding: 0 15px 15px;
  align-items: flex-end;
  max-width: 345px;
  width: 100%;
  height: 300px;

  @include media-min ($md) {
    position: relative;
    top: 0;
    max-width: 327px;
  }

  @include media-min ($xl) {
    padding-bottom: 40px;
    max-width: 350px;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .4s;

    @include media-min ($xl) {
      opacity: var(--img-opacity);
    }
  }

  &::before {
    content: counter(num);
    counter-increment: num;
    z-index: 1;
    width: 40px;
    height: 40px;
    background: var(--white);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 150%;
    color: var(--black-30);
    top: 15px;
    left: 15px;
    transition: .5s;

    @include media-min ($xl) {
      background-color: transparent;
      border: 1px solid var(--black-30)
    }
  }

  &::after {
    background-image: var(--img-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-image: fill 0 linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);

    @include media-min ($xl) {
      opacity: 0;
    }
  }

  &:hover {

    &::before {
      background-color: var(--white);
      border: none;
    }

    &::after {
      opacity: 1;
    }
  }

  &__title {
    position: relative;
    z-index: 1;
    min-height: 112px;
    display: flex;
    align-items: flex-end;

    @include media-min ($xl) {
      align-items: flex-start;
    }


    & > h3 {
      margin: 0;
      font-size: 18px;
      line-height: 140%;
      text-transform: uppercase;
      color: var(--blue-100);

      @include media-min ($md) {
        font-size: 20px;
      }
    }
  }
}
