.btn {
  @include btn-reset;
  //@include set-font(18px, 1.3, 400);

  font-family: $title-font, Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: all .3s ease-in-out, color .1s ease-in-out;

  & svg {
    transition: inherit;
  }

  @media (any-hover: hover) {
    &:hover {
      & svg {
        transform: rotate(90deg);
      }
    }
  }

  @media (any-hover: none) {
    &:hover {
      & svg {
        transform: rotate(90deg);
      }
    }
  }

  @include media-min ($md) {
    font-size: 20px;
  }

  &--primary {
    position: relative;
    justify-content: space-between;
    max-width: 446px;
    width: 100%;
    color: var(--red-100);

    @include media-min ($md) {
      max-width: 540px;
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--red-50);
      width: 100%;
      height: 1px;
    }

    &::before {
      top: 0;
      left: 0;
    }

    &::after {
      bottom: 0;
      left: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        color: var(--white);
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--red-100);
      }
    }

    @media (any-hover: none) {
      &:hover {
        color: var(--white);
        padding-left: 20px;
        padding-right: 20px;
        background-color: var(--red-100);
      }
    }
  }

  &--secondary {
    justify-content: center;
    color: var(--white);
    background-color: rgba(158, 36, 31, 0.7);

    @media (any-hover: hover) {
      &:hover {
        background-color: rgba(158, 36, 31, 1);
      }
    }

    @media (any-hover: none) {
      &:hover {
        background-color: rgba(158, 36, 31, 1);
      }
    }
  }
}